.top {
    margin-top: 20px;
}

.bottom {
    margin-bottom: 20px;
}

.cycle {
    margin: auto;
    max-width: 90%;
}

.terminal-viewport {
    margin: 0;
    padding: 0 20px 0 10px;
    height: 100%;
}

.terminal-viewport > div {
    word-break: break-all;
}

body {
    background: none;
}

.full {
    color: rgba(255, 255, 255, .8);
    background: #d0eaff url(../images/bg.png);
    font-size: 20px;
}
#md-primary {
    background-color: #ffce7d;
}
#md-primary:disabled {
    background-color: rgba(0,0,0,0.12);
}
