<!--<button class="btn btn-default" ng-click="showAdvanced($event)">HELP</button>-->
<!--ng-disabled="isPass($index)"-->
<div class="top col-md-12">
    <div class="bottom">
        <md-button class="md-fab md-mini md-primary" ng-repeat="chapter in chapters track by $index"
                    ng-click="goToChapter($index)" ng-style="isChecked($index)">
            {{$index}}
        </md-button>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <i class="fa fa-folder-o"></i> git-project </p>

                <p ng-if="chapterId > 0">└ <i class="fa fa-folder-o" ng-style="{color: 'grey'}"></i> <span ng-style="{color: 'grey'}">.git</span></p>

                <div ng-repeat="file in fileStructure">

                    <p ng-if="file.folder"> └ <i class="fa fa-folder-o" ng-style="{color: '{{file.color.file}}'}"></i> <span
                            ng-style="{color: '{{file.color.text}}'}"> {{file.name}}</span></p>

                    <p ng-if="!file.folder"> └ <i class="fa fa-file-o" ng-style="{color: '{{file.color.file}}'}"></i> <span
                            ng-style="{color: '{{file.color.text}}'}"> {{file.name}}</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <terminal></terminal>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div marked="exercise"></div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="theory">
            <div class="panel-body">
                <div marked="theory"></div>

            </div>
        </div>
        <div class="panel panel-default" ng-if="addition">
            <div class="panel-body">
                <div class='text-center' ng-switch="chapterId">
                    <button class="btn btn-success" ng-disabled="display" ng-click="addFile(fileToAdd)" ng-switch-when="2">Dodaj plik index.html do projektu</button>
                    <div class="btn btn-success" ng-disabled="display" ng-click="addFile(fileToAdd)" ng-switch-when="5">Dodaj plik app.js do projektu</div>
                    <div class="btn btn-success" ng-disabled="display" ng-click="modifyFile(fileToAdd)" ng-switch-when="15">Zmodyfikuj plik index.html</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="code">
            <div class="panel-body">
                <pre>{{code}}</pre>
            </div>
        </div>
    </div>
</div>

<div class="top col-md-12" ng-if="message">
    <div class="panel-body">
        <div class="alert alert-danger text-center" marked="message"></div>
    </div>
</div>
