<div class="top col-md-offset-2 col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <!--<div marked="message"></div>-->

        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Struktura projektu</div>
            <div class="panel-body">
                <p>
                    <i class="fa fa-folder-o"></i> git-project </p>

                <div ng-repeat="file in fileStructure">

                    <p ng-if="file.folder">    └ <i class="fa fa-folder-o" ng-style="{color: '{{file.color.file}}'}"></i> <span
                            ng-style="{color: '{{file.color.text}}'}"> {{file.name}}</span></p>

                    <p ng-if="!file.folder">    └ <i class="fa fa-file-o" ng-style="{color: '{{file.color.file}}'}"></i> <span
                            ng-style="{color: '{{file.color.text}}'}"> {{file.name}}</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" auto-focus="true" >
        <terminal></terminal>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Teoria</div>
            <div class="panel-body">
                <div marked="theory"></div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Polecenie</div>
            <div class="panel-body">
                <div marked="exercise">*</div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="addition">
            <div class="panel-heading">Interakcja</div>
            <div class="panel-body">
                <div ng-switch="chapterId">
                    <div class="btn btn-primary" ng-click="addFile(fileToAdd)" ng-switch-when="2">Add file</div>
                </div>
            </div>
        </div>
    </div>

</div>
