<div class="top col-md-12">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <i class="fa fa-folder-o"></i> git-project </p>

                <p ng-if="chapterId > 0">└ <i class="fa fa-folder-o" ng-style="{color: 'grey'}"></i> <span ng-style="{color: 'grey'}">.git</span></p>

                <div ng-repeat="file in fileStructure">

                    <p ng-if="file.folder"> └ <i class="fa fa-folder-o" ng-style="{color: '{{file.color.file}}'}"></i> <span
                            ng-style="{color: '{{file.color.text}}'}"> {{file.name}}</span></p>

                    <p ng-if="!file.folder"> └ <i class="fa fa-file-o" ng-style="{color: '{{file.color.file}}'}"></i> <span
                            ng-style="{color: '{{file.color.text}}'}"> {{file.name}}</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <terminal></terminal>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div marked="exercise"></div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="theory">
            <div class="panel-body">
                <div marked="theory"></div>

            </div>
        </div>
        <div class="panel panel-default" ng-if="addition">
            <div class="panel-body">
                <div class='text-center' ng-switch="chapterId">
                    <div class="btn btn-success" ng-click="addFile(fileToAdd)" ng-switch-when="2">Dodaj plik index.html do projektu</div>
                    <div class="btn btn-success" ng-click="addFile(fileToAdd)" ng-switch-when="5">Dodaj plik app.js do projektu</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top col-md-12">
    <div class="panel-body">
        <div marked="message"></div>
    </div>
</div>
